:root {
    --color-gold: #bdae82;
    --color-black: #000;
    --color-white: #FFFFFF;
    --font1: 60px;
    --font2: 40px;
    --font3: 20px;
    --font4: 18px;
}
* {
    box-sizing: border-box;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex: 1 0 0; */
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: var(--font3);
    line-height: 40px;
    color: var(--color-white);
    background-color: var(--color-black);
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}
header {
    background-image: url('./assets/img/header-bg.jpg');
    background-position: center 0px;
    background-repeat: no-repeat;
}
.header-container {
    display: flex;
    align-items: center;
}
.header-logo {
    background-image: url('./assets/svg/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.header-logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.sun-icon {
    margin: 0px 20px 0px 20px;
    transition: 0.3s;
    cursor: pointer;
}
.sun-icon:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
nav {
    margin-left: auto;
}
.nav-list {
    display: flex;
    padding-left: 0;
    margin-right: 5px;
}
.nav-link {
    padding-right: 30px;
    line-height: 50px;
    color: var(--color-white);
    cursor: pointer;
    transition: 0.2s all;
}
.nav-link:hover {
    color: var(--color-gold);
}
.switch-item__lang,
.switch-item__slash {
    font-weight: 700;
    line-height: 50px;
    color: var(--color-white);
    cursor: pointer;
    transition: 0.2s all;
}
.active__lang,
.switch-item__lang:hover {
    color: var(--color-gold);
}
.hero {
	padding: 181px 0 330px 80px;
  background-image: url('./assets/img/header-bg.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
}
.hero__content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
    margin: -70px 0px 0px 75px;
}
.hero__title {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: var(--font1);
    line-height: 120px;
    color: var(--color-white);
    margin-bottom: 0px;
}
.hero__description {
	max-width: 470px;
    margin-top: 10px;
	font-size: var(--font3);
	line-height: 40px;
}
.btn__gold {
    width: 220px;
    height: 55px;
    border: none;
    background-color: var(--color-gold);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: var(--color-black);
    cursor: pointer;
}
.btn__gold:hover {
    color: var(--color-white);
}
#skills {
    padding-top: 100px;
}
.title-container {
    margin: auto;
    margin-bottom: 60px;
    width: 50%;
    background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
}
.section-title {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: var(--font2);
    line-height: 80px;
    color: var(--color-gold);
    margin: auto;
    padding: 0 20px;
    width: min-content;
    background-color: var(--color-black);
}
.skills-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skill-item {
    width: 280px;
    background-position: center top;
    cursor: pointer;
    margin: 0px 20px 23px 20px;
}
h4:hover,
.skill-item__text:hover {
    filter: invert(79%) sepia(11%) saturate(904%) hue-rotate(7deg) brightness(87%) contrast(90%);
}
.skill-item:nth-child(1) {
    background-image: url('./assets/svg/camera.svg');
    background-size: 62px 50px;
    background-repeat: no-repeat;
}
.skill-item:nth-child(2) {
    background-image: url('./assets/svg/video.svg');
    background-size: 62px 50px;
    background-repeat: no-repeat;
}
.skill-item:nth-child(3) {
    background-image: url('./assets/svg/image.svg');
    background-size: 62px 50px;
    background-repeat: no-repeat;
}
.skill-item:nth-child(4) {
    background-image: url('./assets/svg/mic.svg');
    background-size: 62px 50px;
    background-repeat: no-repeat;
}
h4 {
    padding-top: 80px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 4px;
    color: var(--color-white);
}
.skill-item__text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: var(--font4);
    line-height: 36px;
    text-align: center;
}
#portfolio {
    padding-top: 65px;
}
.portfolio__btns {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 60px;
}
.btn__transparent {
    width: 220px;
    height: 55px;
    border: 2px solid var(--color-gold);
    background-color: var(--color-black);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: var(--color-gold);
    cursor: pointer;
}
.btn__transparent:hover {
    background-color: var(--color-gold);
    color: var(--color-black);
}
.active,
.btn__transparent:hover {
    background-color: var(--color-gold);
    color: var(--color-black);
}
.portfolio-item__imgs {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}